// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
} // Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
} // Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
} // Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
@mixin clear-after() {
    content: '';
    display: block;
    clear: both;
}


$btnColor:#4CAF50;
$black:#000000;
$grey:#efefef;
$darkgrey:#cecece;
$white:#ffffff;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


* {
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    background-color: $grey;
}

.container {
    width: 90%;
    margin: auto;
}

.flex{
    display: flex;
}
.flexwrap{
    flex-wrap: wrap;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: $btnColor;
    color: $white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darken($btnColor, 20);
}

.button {
    background-color: $btnColor;
    border: none;
    color: $white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.border_shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    width: 100%;
    background-color: $white;
    @include sm {
        width: 100%; 
    }
    @include md {
        display: block;
        width: 40%;
    }
    @include lg {
        display: block;
        width: 40%; 
    }
    @include xl {
        display: block;  
        width: 30%;
    }
}

.card .image,
.card .content {
    width: 100%;
    padding: 10px 10px 0px 10px;
    @include sm {
        width: 50%;
    }
    @include md {
        width: 100%;
    }
    @include lg {
        width: 100%;
    }
    h1 {
        display: inline;
        font-size: 3vmin;
    }
}

.card div img {
    margin-left: 25%;
    width: 50%;
    border: 3px solid $grey;
    padding: 7px;
    
    @include sm {
    width: 100%;
    border: 3px solid $grey;
    padding: 7px;
    margin-left: auto;
    }
}

.card .content div {
    padding-top: 7px;
}

.card .Interests,
.card .Groups {
    float: left;
    width: 50%;
    @include sm {
        float: left;
    }
    @include md {
        width: 100%;
        float: left;
    }
    @include lg {
        width: 50%;
        float: left;
    }
}


   

.card .Interests:after,
.card .Groups:after {
    @include clear-after();
}

.form {
    width: 100%;
    padding-bottom: 13px;
}

.posts {
    background-color: $white;
    width: 100%;
    padding: 13px;
    @include sm {
        width: 100%;
    }
    @include md {
        width: 60%;
    }
    @include lg {
        width: 60%;
    }
    @include xl {
        width: 70%;
    }
}
.posts .header{
    background-color: $grey;
    padding: 7px;
    margin-bottom: 10px;border: 1px solid darkgray;
}

.post {
    height: auto;
    overflow: hidden;
    border: 1px solid $grey;
    margin-bottom: 13px;
    padding: 10px;
    position: relative;
    .footer {
        list-style-type: none; // display: inline;
        li {
            padding-right: 10px;
            display: inline;
        }
        li img {
            height: 100px
        }
    }
}

//Animations
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 800ms ease-in;
}

.expandBtn {
    display: block;
    float: right;
    margin-top: 0px !important;
    after {
        @include clear-after();
    }
    @include sm {
        display: none;
    }
}

.hide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    @include sm {
        max-height: 1000px;
    }
}
.show {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}
.open {
    animation: fade-in-keyframes 1s;
    display: block;
}

@keyframes fade-in-keyframes {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
}

.img {
    position: relative;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 50%;
}